<head>
    <title>Real-Time Random Tree Factory</title>
</head>

<body>

    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="#">Random Tree Factory</a>
            <a href="https://bitbucket.org/chris_blades/real-time-random-tree/src">(Source)</a>
            {{> userNav }}
        </div>
    </div>
    <div ng-app="app" class="container">
        <div class="row">
            <div class="span6">
                <ul class="nav nav-list tree">
                    {{> tree }}
                </ul>
            </div>

            <div class="span6">
                {{> workArea }}
            </div>
        </div>
    </div>
</body>

<!-- templates below -->

<template name="tree">
    {{#each parentNodes}}
    <li id="{{ _id }}" class="parentNode">
        <label class="tree-toggler nav-header">
            <i class="icon-minus"></i>{{name}}: {{rangeStart}} - {{rangeEnd}}
        </label>
        <ul>
            {{#each numbers}}
            <li>{{ this }}</li>
            {{/each}}
        </ul>
    </li>
    {{/each}}
</template>

<template name="userNav">
    {{#if currentUser}}
        <a href="#" id="logout" class="nav pull-right">Logout {{currentUser.username}}</a>
    {{/if}}
</template>

<template name="workArea">
    {{#if currentUser}}
        {{> addNodeForm }}
    {{else}}
        {{> userSignIn }}
    {{/if}}
</template>

<template name="userSignIn">
    <label>Name</label>
    <input type="text" class="nameInput">
    <span class="label label-important hide" id="nameError">Cannot be blank</span>
    
    <label>Password</label>
    <input type="password" class="passwordInput">
    <span class="label label-important hide" id="passwordError">Cannot be blank</span>
    <br>
    <button class="btn" id="loginButton">Login or Join</button>
</template>

<template name="addNodeForm">
    
    <label>Name</label>
    <input type="text" class="nodeNameInput" value="{{ currentUser.username }}'s Factory">
    <span class="label label-important hide" id="nodeNameError">Cannot be blank</span>
    
    <label>Range Start</label>
    <input type="number" class="rangeStartInput" value="0">
    <span class="label label-important hide" id="rangeStartError">Cannot be blank</span>
    
    <label>Range End</label>
    <input type="number" class="rangeEndInput" value="100">
    <span class="label label-important hide" id="rangeEndError">Cannot be blank</span>
    
    <br>
    <button class="btn" id="addNodeButton">Add Factory</button>
</template>
